# RESEND
RESEND_API_KEY=
RESEND_TEMPLATE_ID=
CONTACT_NAME="New Leash Rescue"
# Must be a sender on a domain verified by Resend.
CONTACT_EMAIL=website@newleashrescue.org
TO_EMAIL=adopt@newleashrescue.org
ADOPTION_TO_EMAIL=adopt@newleashrescue.org
FOSTER_TO_EMAIL=adopt@newleashrescue.org
VOLUNTEER_TO_EMAIL=adopt@newleashrescue.org
